<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Today Quote !</title>
		<meta charset="utf8"/>
		<link rel="stylesheet" href="static/main.css" media="all"/>
	</head>
	<body>
		<header>
		<h1>{{title or ""}} Today Quote !</h1>
		</header>
		<section>
			%include
		</section>
		<footer>
		<p><a href="http://sam.zoy.org/wtfpl/">WTFPL</a> 2012 - <a href="/new">Add</a> | <a href="https://github.com/Matael/today_quote">Today Quote</a> - <a href="blog.matael.org">Matael</a></p>
		</footer>
	</body>
</html>
